<header>
  <h1>About Us</h1>
</header>
<div class="container">
  <section>
    <h2>Our Mission</h2>
    <p>It would be get 3 points from lab</p>
  </section>
  <section>
    <h2>Company History</h2>
    <p>Since started web course.</p>
  </section>
  <section>
    <h2>Achievements and Recognition</h2>
    <p>IDK SOME PROJECTS MAYBE.</p>
  </section>
  <section>
    <h2>Contact Us</h2>
    <p>*******************.</p>
  </section>
</div>
<footer class="footer">
  <p>&copy; 2024 Your Company Name. All rights reserved.</p>
</footer>
