.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.product_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 700px;
    height: 350px;
    margin-bottom: 20px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 10px 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.product_img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
}
.product_img img {
    height: 200px;
}
.product_img button{
    color: #252525;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 7px;
}
.product_info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 50%;
}
button{
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.actual_info{
}
.like_delete{
    margin-top: auto;
}
.like_delete span{
    margin-right: 20px;
}
.like_delete img{
    width: 20px;
}
.like_delete button {
    color: #1a77ce;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 7px;
    margin-right: 20px;
}

