*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #23262f;
  padding: 20px 0;
}
li{
  list-style-type: none;
  margin: 0 20px;
}
a{
  color: #ffffff;
  text-decoration: none;
}
.navigation a:hover{
    border-radius: 2px;
    background-color: #464646;
}
