* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: whitesmoke;
}
.all {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.left {
    width: 35%;
    padding-right: 20px;
}
h1 {
    color: royalblue;
    font-size: 80px;
}
h3 {
    color: black;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
}
.right {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 450px;
    padding: 20px;
    box-shadow: -10px -10px 15px rgba(0, 0, 0, 0.1), 10px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
input {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    padding: 0 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 10px;
    border-color: blue;
}
input[type="submit"] {
    background-color: royalblue;
    color: white;
    cursor: pointer;
}
p {
    color: royalblue;
    margin-bottom: 10px;
}
p a{
    color: royalblue;
    text-decoration: none;
}
hr {
    border: none;
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 10px 0;
}
.create {
    width: 55%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #0dd00d;
    border-radius: 10px;
    cursor: pointer;
}
.create:hover {
    background-color: #00c200;
}
span {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}
span a {
    color: black;
    text-decoration: none;
}

