body {
    font-family: sans-serif;
}
h1 {
    font-family: fantasy;
}
#cloud-pic {
    float: left;
    width: 100px;
    margin: 5px;
}
#cloud-sidebar {
    float: right;
    width: 30%;
    margin-left: 10px;
    background: rgb(255, 255, 219);
}